{% extends 'base.html' %}
{% block content %}

<div class="centered formcontainer">
    <h1 class="title pt-5">Update {{documentation.title}}!</h1>
    
    <form action="" method="post" class="formcontent">
        {% csrf_token %}
        {{form.as_p}}
        <div class="buttons">
            <input class="button is-danger" type="submit" value="Confirm" />
            <a class="button is-info" href="{% url 'documentation_detail' documentation.pk %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}