{% extends 'base.html' %}

{% block title %}Documentation RSM{% endblock %}

{% block content %}

<div class="homepage">
    <img class="logo" src="" alt="HomepageLogo" ></img>
    <div class="buttons homepagebuttons">
        <a class="button homepagebutton" href="{% url 'router_list' %}">Routers</a>
        <a class="button homepagebutton" href="{% url 'switch_list' %}">Switches</a>
        <a class="button homepagebutton" href="{% url 'documentation_list' %}">Documentations</a>
    </div>
</div>


{% endblock %}