{% extends 'base.html' %}

{% block title %}Documentation RSM{% endblock %}

{% block content %}

<div class="homepage">
    <div class="buttons homepagebuttons">
        <a class="button homepagebutton" href="{% url 'router_list' %}" style="color: black;">Routers</a>
        <a class="button homepagebutton" href="{% url 'switch_list' %}" style="color: black;">Switches</a>
        <a class="button homepagebutton" href="{% url 'documentation_list' %}" style="color: black;">Documentations</a>
    </div>
</div>


{% endblock %}