{% extends 'base.html' %}

{% block title %}Routers{% endblock %}

{% block content %}

<div class="buttons homepage">
    <a class="button buttonbackground" href="" value="Create Character">Create Character</a>
</div>

<div class="gallery">
    {% for router in routers %}
    <a href="">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="{{router.img}}" alt="{{router.title}}"/>
                </figure>
            </div>
            <div class="card-header cardheaderbackground">
                <p class="card-header-title cardtitle">{{router.title}}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No Routers Available</p>
        </div>
    </article>
    {% endfor %}
</div>


{% endblock %}