{% extends 'base.html' %}

{% block title %}Switches{% endblock %}

{% block content %}

<div class="buttons homepage">
    <a class="button buttonbackground" href="{% url 'switch_create' %}" value="Create Switch">Create Switch</a>
</div>

<div class="gallery">
    {% for switch in switches %}
    <a href="{% url 'switch_detail' switch.pk %}">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="{{switch.img}}" alt="{{switch.title}}"/>
                </figure>
            </div>
            <div class="card-header cardheaderbackground">
                <p class="card-header-title cardtitle">{{switch.title}}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No Switches Available</p>
        </div>
    </article>
    {% endfor %}
</div>


{% endblock %}