{% extends 'base.html' %}

{% block content %}
<div class="centered formcontainer">
    <h1 class="title pt-5">Create Switch!</h1>
    <form class="formcontent" method = "post">
        {% csrf_token %}
    
        {{form.as_p}}
    
        <div class="buttons">
            <input class="button is-danger" type="submit" value="Confirm" />
            <a href="{% url 'switch_list' %}" class="button is-info">
                Cancel
            </a>
        </div>
    </form>
</div>

{% endblock %}